BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

PointerAlignment: Left
AlignAfterOpenBracket: Align
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements

NamespaceIndentation: None
IndentCaseLabels: true
SortIncludes: true
IncludeBlocks: Preserve
